@media screen and (max-height: 550px) {

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #383838;
  color: white;
  font-family: "Montserrat", sans-serif;
}

p,
ul {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #ff3600;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

main {
  position: relative;
}

.main-text {
  padding-top: 25%;
  position: absolute;
  text-align: center;
  margin: auto 0;
}

h1 {
  font-size: 10vw;
}

.huytinka {
  background-image: url(../huimages/huygroundMOBILE.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  width: 87vw;
  height: 100vh;
  opacity: 0.5;
}

.text-color {
    color: #ff3600;
}

}

@media screen and (min-height: 551px) {
  
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #383838;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
    color: #ff3600;
  }
  
  .container {
    width: 90vw;
    margin: 0 auto;
  }
  
  main {
    position: relative;
  }
  
  .main-text {
    padding-top: 40%;
    position: absolute;
    text-align: center;
    margin: auto 0;
  }
  
  h1 {
    font-size: 10vw;
  }
  
  .huytinka {
    margin-top: 15%;
    background-image: url(../huimages/huygroundMOBILE.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    width: 87vw;
    height: 100vh;
    opacity: 0.5;
  }
  
  .text-color {
      color: #ff3600;
  }
  
audio {
  display: none;
}

